@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'YoungSerif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --var-brown-800: #854632;
    --var-rose-50: #FFF7FB;
    --var-rose-800: #7A284E;
    --var-stone-100: #F3E5D7;
    --var-stone-600: #5F564D;
    --var-stone-150: #E3DDD7;
    --var-stone-900: #312E2C;
    --var-font-weight-bold: 600;
    --var-font-weight-normal: 300;
    --var-letter-spacing: 0;
}

body {
    background-color: var(--var-stone-100);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    min-height: 100vh;
}

h1 {
    color: var(--var-stone-900);
    font-family: YoungSerif;
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: 0;
    margin-block-end: 1.5rem;
}

h2 {
    color: var(--var-brown-800);
    font-family: YoungSerif;
    font-size: 1.75rem;
    line-height: 1;
    letter-spacing: 0;
    margin-block-end: 1.5rem;
}

h3 {
    color: var(--var-rose-800);
    font-family: Outfit;
    font-size: 1.25rem;
    line-height: 1;
    letter-spacing: 0;
    margin-block-end: 1rem;
}


p, li, td, th {
    color: var(--var-stone-600);
    font-family: Outfit;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: var(--var-font-weight-normal);
}

td, strong, h3 {
    font-weight: var(--var-font-weight-bold);
}

ul, ol {
    padding-inline-start: 1.5rem;
}

section li:last-child {
    margin-block-end: 0;
}

li {
    margin-block-end: 0.5rem;
    padding-inline-start: 1rem;
}

img {
    width: 100%;
}

.card-container {
    max-width: 46rem;
    margin-block: 8rem;
    padding: 2.5rem;
    border-radius: 1rem;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nutrition {
    display: flex;
    flex-direction: column;
}

.nutrition-table {
    margin-block-start: 1.5rem;
}

.image-omelette {
    border-radius: 1rem;
}

table {
    text-align: left;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0 1.5rem;
    border-collapse: collapse
}

tr:not(:last-child) {
    border-bottom: 1px solid var(--var-stone-150);  
}

td, th {
    padding-block-end: 0.75rem;
    padding-inline: 1rem;
}

tr:not(:first-child) th {
    padding-block-start: 0.75rem;
}

.time {
    background-color: var(--var-rose-50);
    padding: 1.5rem;
    border-radius: 1rem;
}

.white-background {
    background-color: white;
}

.light-background {
    background-color: var(--var-stone-100);
}

@media screen and (384px < width <= 768px) {
    .card-container {
        margin-inline: 4.75rem;
    }
}

@media screen and (max-width: 384px) {
    .card-container {
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    hr, section:not(:first-child) {
        margin-inline: 2rem;
    }

    article {
        margin-block-end: 2.5rem;
    }

    .image-omelette {
        border-radius: 0;
    }

    h1 {
        font-size: 2.25rem;
    }
}